<?xml version="1.0" encoding="UTF-8" standalone="no"?><business>
    <header>
        <businessname>ABC </businessname>
        <location>Kikubo</location>
        <phone1>0752600685</phone1>
        <phone2>0799203021</phone2>
        <tin>10009124564</tin>
        <till_no>1</till_no>
        <check_stock>false</check_stock>
        <printer>true</printer>
    </header>

    <!--<till>-->
        <!--<till_no>1</till_no>-->
    <!--</till>-->

    <server>
        <server_ip>127.0.0.1</server_ip>
        <default_stock_destination>2</default_stock_destination>
    </server>
</business>